/*==============================
=            COLORS            =
==============================*/
$alert-yellow:  #ebe16f;
$alert-red:     #fbe3e4;
$alert-green:   #98efb6;
$alert-blue:    #d5edf8;

$black:         #231F20;
$white:         #fff;

$light-gray:    #f8f9fa;
$gray:          #eaedf2;
$text-color:    #5c6b80;
$meta-gray:     #9fa6b4;

$green:         #7DD667;
$blue:          #3B7995;
$yellow:        #FCE10D;
$tomato:        #FF6347;

$link-color:    $blue;
$link-hover:    lighten($link-color, 11%);

$border-color:  #ccc;
$disabled-gray: #cfcfcf;

/*-----  End of COLORS  ------*/